{% extends "admins/index.html" %}
{% load static %}
{% block username %}
    {{ request.session.username }}
{% endblock %}
{% block module %}案例管理{% endblock %}
{% block method %}图片上传{% endblock %}
{% block main %}
    <div class="icontainer">
        <form id="newsform" action="/admins/caseDemo/?m=uploadCasePic" method="post"
              enctype="multipart/form-data">
            {% csrf_token %}
            <table class="news-add-table" border="0" cellpadding="5" cellspacing="0">
{#                <tr>#}
{#                    <td >新闻标题:</td>#}
{#                    <td>#}
{#                        <input required value="{{ modifyNews.title }}" name="title" type="text" style="width: 650px;">#}
{#                    </td>#}
{#                </tr>#}

                <tr>
                    <td>案例图片：</td>
                    <td style="text-align: left">
                        <img id="newsPhoto" name="newsPhoto" src="{% static 'images/blank.png' %}" width="300" height="300"/>

                    </td>
                </tr>
                <tr >
                    <td>图片操作:</td>
                    <td style="text-align: left">
                        <input id="uploadInput1" name="uploadInput1" type="file" value="上传图片">
{#                        <input type="button" value="选择已上传图片">#}
                        <input type="hidden" id="hidFilename" name="hidFilename">
                    </td>

                </tr>

                <tr>
                    <td style="text-align: right" colspan="2">
                        <input type="submit" value="保存">
                        <input type="button" value="取消" onclick="javascript:window.history.back(-1);">
                    </td>
                </tr>

            </table>
        </form>

    </div>
{% endblock %}
