{% extends "admins/index.html" %}

{% block module %}
    新闻管理
{% endblock %}

{% block method %}
    添加新闻
{% endblock %}

{% block main %}
    <div class="icontainer">
        <form action="/admins/newsMethods?m=add" method="post">
            {% csrf_token %}
            <table class="news-add-table" border="0" cellpadding="5" cellspacing="0">
                <tr>
                    <td>新闻标题:</td>
                    <td><input required name="title" type="text" style="width: 650px;"></td>
                </tr>

                <tr>
                    <td>新闻内容:</td>
                    <td>
                        <textarea required name="content" style="width: 650px;height:200px;overflow:scroll;resize:none;"></textarea>
                    </td>
                </tr>
                <tr>
                    <td style="text-align: right" colspan="2">
                        <input type="submit" value="保存">
                        <input type="button" value="取消" onclick="javascript:window.history.back(-1);">
                    </td>
                </tr>

            </table>
        </form>
    </div>
{% endblock %}
