@charset "utf-8";
.icontainer {
    margin: 2%;
    position: relative;
    width: 90%;
    overflow: auto;
    /*width: 660px;*/
    /*border: 1px solid red;*/
}


table {
    margin: 5px 0 5px 0;
    text-align: center;

}
.itable td{
    width: 100px;
    background-color: red;
}



.news-add-tools-row td{
    background-color: #f6f6f6;
}

.pics-frame{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    justify-items: center;
    align-items: center;
}




.pics-frame div{
    /*border: 1px solid green;*/
    margin: 5px;
}
.pic-wraper{
    display: flex;
    flex-direction: column;
    /*flex-wrap: wrap;*/
    justify-content: space-around;
    align-items: center;
}

.options a{

    margin-right: 10px;
}
.case-pics-container{
    display: flex;
    border: 1px solid red;

    flex-direction: row;
    justify-content: center;
    align-items: center;

}
.case-pics-container div{
    margin-left: 1.5%;
}

