@charset "utf-8";
.icontainer {
    margin: 2%;
    position: fixed;
    width: 80%;
    /*width: 660px;*/
    /*border: 1px solid red;*/
}

table {
    margin: 5px 0 5px 0;
    text-align: center;

}
.itable td{
    width: 100px;
    background-color: red;
}


.news-add-tools-row td{
    background-color: #f6f6f6;
}

.pics-frame{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}
.pics-frame div{
    margin: 5px;
}
.pic-wraper{
    display: flex;
    flex-direction: column;
    /*flex-wrap: wrap;*/
    justify-content: flex-start;
    align-items: center;
}

.options a{

    margin-right: 10px;
}